.navbar {
    background-color: transparent; 
    padding: 15px 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  li {
    margin: 0 30px; 
  }
  
  a {
    text-decoration: none;
    color: #BDBDBD; 
    font-size: 18px; 
    font-family: 'Sans-serif', sans-serif; 
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
  }
  
  a:hover {
    border-bottom: 2px solid #3498db; 
  }

  .active a {
    border-bottom: 2px solid #3498db;
  }
  