
body,
html {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  overflow-x: hidden; 
}

.app {
  width: 100%;
  overflow-x: hidden; 
}
.card {
  width: 320px; 
  height: 250px; 
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
}

.buy-now-button {
  background-color: white;
  border: 2px solid #03A9F4;
  color: #03A9F4;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  height: 40px;
  margin-top: 20px;
  transition: 0.3s ease; 
}

.buy-now-button:hover {
  background-color: #B2EBF2;
  transform: translateY(-5px);
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px; 
}

.card-container .card {
  margin: 15px;
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.cardcontainer1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px; 
}

.cardcontainer1 .card {
  margin: 10px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
