body {
    margin: 0;
  }
  
  .tabs-container {
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: #f5f5f5; 
  }
  .link{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 13px;
    background-color: transparent;
  }


  .tab-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: left;
    padding: 15px;
    cursor: pointer;
  }
  
  .tab {
    margin: 10px 30px 0 60px;
  }
  
  .menu-toggle {
    display: none;
  }
  
  
  .tabs-container.menu-visible .tab-list {
    display: flex;
  }
  
  @media screen and (max-width: 714px) {
    .tabs-container {
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        background-color: #f5f5f5; 
        margin-top: -9px; 
        width: 100%;
      }
      .tabs-container.menu-visible::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(169, 169, 169, 0.5); 
        z-index: 1; 
      }
      .tabs-container.menu-visible .tab-list {
        position: fixed;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        border: 1px solid #000;
        z-index: 2; 
        transition: transform 0.3s ease-in-out;
      }
      
      .tabs-container.menu-visible::after {
        display: block; 
      }
      .tab-list {
        display: none;
        flex-direction: column;
        align-items:flex-start;
        position: relative;
        background-color: white;
        border-radius: 8px; 
      }
    
    .link {
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
        font-size: 13px;
        font-weight: 600;
        text-align: left; 
        margin-left: 10px; 
        color: #2874A6 ;
        text-decoration: none;
        background-color: transparent;
      }

      .link:hover {
        color: #21618C ; 
      }
  
    .menu-toggle {
      display: block;
      position: fixed;
      left: 20px;
      top: 15px;
      width: 36px;
      height: 36px;
      cursor: pointer;
      z-index: 999;
      bottom: 20px; 
      transition: transform 0.3s ease-in-out;
      background: linear-gradient(45deg, #40a8e9, #ffffff);
      border-radius: 35%; 
      border: none;
      outline: none;
    }
    @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(-20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .menu-visible .menu-toggle {
        background: linear-gradient(45deg, #D7DBDD, #ffffff); 
        width: 30px;
        height: 30px;
        margin-bottom: 20px;
      }
      
      .tab {
        display: fixed;
        position: relative;
        margin-top: 25px;
        margin-left: 10px;
        animation: fadeIn 0.5s ease-in-out;
        
      }

      .tabs-container.menu-visible .menu-toggle {
        transform: rotate(90deg);
      }
      .tabs-container.menu-visible .tab-list {
        position: fixed;
        left: 0;
        width: 60%;
        height: 80vh;
        overflow-y: auto; 
        border: 1px solid #797D7F;
        transition: transform 0.3s ease-in-out; 
        z-index: 2;
      }
      
      .menu-visible.at-top .tab-list,
      .menu-visible.at-bottom .tab-list {
        transform: translateY(0);
      }
.tab-line{
    width: 100%;
    background-color: #000; 
}
  }

  @media screen and (min-width: 715px) and (max-width:1024px) {
    .tabs-container {
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        background-color: #f5f5f5; 
        margin-top: -49px; 
        width: 100%;
      }
      .tabs-container.menu-visible::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(169, 169, 169, 0.5); 
        z-index: 1; 
      }
      .tabs-container.menu-visible .tab-list {
        position: fixed;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        border: 1px solid #000;
        z-index: 2; 
        transition: transform 0.3s ease-in-out;
      }
      
      .tabs-container.menu-visible::after {
        display: block; 
      }
      .tab-list {
        display: none;
        flex-direction: column;
        align-items:flex-start;
        position: relative;
        background-color: white;
        border-radius: 8px; 
      }
    
    .link {
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
        font-size: 13px;
        font-weight: 600;
        text-align: left; 
        margin-left: 10px; 
        color: #2874A6 ;
        text-decoration: none;
        background-color: transparent;
      }

      .link:hover {
        color: #21618C ; 
      }
  
    .menu-toggle {
      display: block;
      position: fixed;
      left: 15px;
      top: 15px;
      width: 36px;
      height: 36px;
      cursor: pointer;
      z-index: 999;
      bottom: 20px; 
      transition: transform 0.3s ease-in-out;
      background: linear-gradient(45deg, #40a8e9, #ffffff);
      border-radius: 35%; 
      border: none;
      outline: none;
    }
    @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(-20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .menu-visible .menu-toggle {
        background: linear-gradient(45deg, #D7DBDD, #ffffff); 
        width: 30px;
        height: 30px;
        margin-bottom: 20px;
      }
      
      .tab {
        display: fixed;
        position: relative;
        margin-top: 25px;
        margin-left: 10px;
        animation: fadeIn 0.5s ease-in-out;
        
      }

      .tabs-container.menu-visible .menu-toggle {
        transform: rotate(90deg);
      }
      .tabs-container.menu-visible .tab-list {
        position: fixed;
        left: 0;
        width: 60%;
        height: 80vh;
        overflow-y: auto; 
        border: 1px solid #797D7F;
        transition: transform 0.3s ease-in-out; 
        z-index: 2;
      }
      
      .menu-visible.at-top .tab-list,
      .menu-visible.at-bottom .tab-list {
        transform: translateY(0);
      }
.tab-line{
    width: 100%;
    background-color: #000; 
}
  }
  @media screen and (min-width: 1025px) and (max-width: 1200px){
    hr{
        display: none;
    }
    .link{
        background-color: transparent;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
    .tab {
        margin: 10px 15px 0 40px;
      }
      .menu-toggle{
        display: none;
      }
  }
  @media screen and (min-width: 1201px) {
    hr{
        display: none;
    }
  }